body{
    margin: 0;
    padding: 0;
}


header{
    background-color: rgba(92, 150, 150, 0.833);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header h1{
    font-size: 5vw;
    display:flex;
    float: left;
    margin: 5%;
}
h2{
    font-size: 5vw;
    text-align: center;
    margin: auto;
}
div p{
    font-size: 2vw;
    text-align: center;
    margin: auto;
}


.poop{
    display: flex;
    align-items: left;
    flex-basis: auto;
    padding-left: 10%;
}
.poop img{
    width: 20%;
    height: auto;
}
.peepee{
   padding-left: 17%;
}
h3{
    font-size: 5vw;
    text-align: center;
    margin: auto;
}
.poopoo{
    padding-right: 50%;
    padding-top: 5%;
}
.poepie img{
    width: 20%;
    height: auto;
    padding-left: 14%;
}
.piepie{
    padding-left: 55%;
    
}
.piepie img{
    width: 20%;
    height: auto;
}
