body{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(199, 41, 41);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1{
    font-size: 5vw;
    display:flex;
    float: left;
    margin: 2%;
}
h2{
    font-size: 5vw;
    text-align: center;
    margin: auto;
}
div p{
    font-size: 2vw;
    text-align: center;
    margin: auto;
}
.poop{
    display: flex;
    align-items: left;
    flex-basis: auto;
    padding-left: 10%;
}
.poop img{
    width: 25%;
    height: auto;
    padding-top: 5%;
}
.peepee{
   padding-left: 10%;
   padding-top: 5%;
}
h3{
    font-size: 5vw;
    text-align: center;
    margin: auto;
}
.poopoo{
    display: flex;
    padding-top: 5%;
    flex-direction: row-reverse;
}
.piep{
    padding-top: 5%;
}
.poepie img{
    width: 20%;
    height: auto;
    padding-left: 14%;
}
.poopoo img{
    width: 50%;
    height: auto;
}
.poepsie{
    padding-left: 10%;
    padding-bottom: 10%;
    display: flex;
}
.hallo{
    padding-bottom: 5%;
}
.poepsie img{
    
}